@page "/counter"

@using WebApplication1.Controllers

<h1 class="display-4">Bạn có thể sử dụng Blazor trên trang này để tăng bộ đếm</h1>

<p>Bộ đếm hiện tại: @HomeController.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Nhấn vào đây</button>

@code {

	private void IncrementCount()
	{
		HomeController.CurrentCount++;
	}
}
