@using WebApplication1.Views.Components
@{
	ViewData["Title"] = "Tính tiền điện";
}

<div class="text-center">
	<component type="typeof(Calculator)" render-mode="ServerPrerendered" />
</div>

@section Scripts{
	<!--Minh họa gọi JS từ C#-->
	<script>
		window.ShowAlert = (message) => {
			alert(message);
		}
	</script>
}